h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--dark-grey-color);
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--dark-grey-color);
  margin-bottom: 50px;
}
.section-card {
  margin: 0 auto;
  padding: 94px 0;
  text-align: center;
}
